<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Quotes App</h1>
    <hr>
    <div class="row">
      <div class="col-sm-7">
        <div *ngFor="let quote of quotes; let i = index">
          <div>
            <h5>{{quote.quoteName}}</h5>
          </div>
          <button (click)='toggleDetails(i)' class="btn btn-info">Expand</button>
          <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
          </app-quote-detail>
        </div>
      </div>
      <div class="col-sm-5">
        <app-quote-form></app-quote-form>
      </div>
    </div>
  </div>
</div>




<!-- <div class="mb-2">
  <button type="button" class="btn btn-success px-3"><i class="far fa-thumbs-down"
      aria-hidden="true"></i></button>: {{quote.dislike}}
  <button type="button" class="btn btn-success px-3"><i class="far fa-thumbs-up"
      aria-hidden="true"></i></button>: {{quote.like}}
</div>
<button type="button" (click)='toggleDetails(i)'>Expand</button><br>
<button type="button">Delete</button>
<button></button> -->
